@model IEnumerable<Store_Management.DTO.ProductListDTO>

@{
    ViewBag.Title = "ProducList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product List</h2>
<style>
</style>

@section scripts
    {

    <script>
        $(document).ready(function () {
            $('#tblProduct').DataTable(
                {});
        });
    </script>
}
@if(!User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "AddUpdateProduct", null, new { @class = "btn btn-success" })
    </p>
}

<table class="table mt-lg-5" id="tblProduct">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQuantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pk_ProductID }, new { @class = "btn btn-secondary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_ProductID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </tbody>

</table>
