
    

<ul class="navbar-nav me-auto">
    <li>@Html.ActionLink("Home", "DisplayModules", "UserHome", new { area = "" }, new { @class = "nav-link" })</li>
    <li class="dropdown">
        <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" id="navbarDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Admin</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>@Html.ActionLink("Product Master", "ProductList", "Product", null, new { @class = "dropdown-item" })</li>
            <li>@Html.ActionLink("Roles ", "RoleList", "Role", null, new { @class = "dropdown-item" })</li>

            @*<li>@Html.ActionLink("Module Master", "ModuleList", "Module", null, new { @class = "dropdown-item" })</li>*@
            <li>@Html.ActionLink("Customer Master", "CustomerList", "Customer", null, new { @class = "dropdown-item" })</li>
        </ul>
    </li>
</ul>

